<h1>Company#create</h1>
<%= form_for :company , url: company_new_path do |f| %>
  <p>
    <%= f.label :companyName %><br>
    <%= f.text_field :companyName %>
  </p>
  <p>
    <%= f.label :createdBy %><br>
    <%= f.text_field :createdBy %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>