<h1>Company#create</h1>
<%= form_for :company , url: company_new_path do |f| %>
  <p>
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name%>
  </p>
  <p>
    <%= f.label :created_by %><br>
    <%= f.text_field :created_by %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>