<h1>Company#update</h1>
<%= bootstrap_form_for :company, method: :patch do |f| %>
  <p>
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </p>
 
  <p>
    <%= f.label :created_by %><br>
    <%= f.text_field :created_by %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>