<h1>Company#index</h1>

<table>
  <tr>
    <th>companyName</th>
    <th>createdBy</th>
  </tr>
 
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.companyName %></td>
      <td><%= company.createdBy %></td>
      <td><%= link_to 'Update', :controller=> 'company' , :action => 'edit', :id=>company.id %></td>
      <td><%= link_to 'Delete', :controller=> 'company' , :action => 'destroy', :id=>company.id %></td>
     
    </tr>
  <% end %>
</table>

<div>
	<%=link_to 'New company', company_create_path %>
</div>
<div>
	<%=link_to 'Back to main', "/"%>
</div>
