<h1>Ссылки для контролера profile:</h1>
<div>
	<%= link_to 'profile#index', profile_index_path%>
	<br/>
	<%= link_to 'profile#offer', profile_offer_path%>
	<br/>
	<%= link_to 'profile#comeButton', profile_comeButton_path%>
	<br/>
	<%= link_to 'profile#outButton', profile_outButton_path%>
	<br/>
	<%= link_to 'profile#logOut', profile_logOut_path%>
	<br/>
	<%= link_to 'profile#checkTheOwn', profile_checkTheOwn_path%>
	<br/>
	<%= link_to 'profile#checkAnswer', profile_checkAnswer_path%>
	<br/>
	<%= link_to 'profile#checkPartner', profile_checkPartner_path%>
	<br/>
</div>
<h1>Ссылки для контролера company:</h1>
<div>
  <%= link_to 'company#index', company_index_path%>
  <br/>
  <%= link_to 'company#create', company_create_path%>
  <br/>
  <%= link_to 'company#destroy', company_destroy_path%>
  <br/>
  <%= link_to 'company#update', company_update_path%>
  <br/>
</div>
<h1>Ссылки для контролера schedule_your_department:</h1>
<div>
  <%= link_to 'ScheduleYourDepartment#index', schedule_your_department_index_path%>
  <br/>
  <%= link_to 'ScheduleYourDepartment#update', schedule_your_department_update_path%>
  <br/>
  <%= link_to 'ScheduleYourDepartment#edit', schedule_your_department_edit_path%>
</div>
