<h1>Hello, <%=current_user.email%> </h1>
<%= $dinner_flag%>

    <% if $flag %>
        <%= link_to raw("<span><button type='button' class='btn btn-primary'>Come</button></span>"), profile_comeButton_path%>
    <% else %>

        <%= link_to raw("<span><button type='button' class='btn btn-danger'>Out</button></span>"), profile_outButton_path%></button>
        <%= link_to raw("<span><button type='button' class='btn btn-default'>Dinner</button></span>"), profile_goDinner_path%></button>
    <% end%>
<div>
  <%= link_to raw("<span><button type='button' class='btn btn-default'>Change Company</button></span>"), profile_goDinner_path%></button>
</div>
    <div>
    	<table>
  <tr>
    <th>Coming Time &nbsp; &nbsp; &nbsp;</th>
    <th>Departuring Time&nbsp; &nbsp; &nbsp;</th>
    <th>coming - departuring&nbsp; &nbsp; &nbsp;</th>
  </tr>
  <% @TimeIntervals.each do |timeinterval| %>
     <tr>
      <td><%= timeinterval.arrival.strftime("%H:%M:%S") %>&nbsp;&nbsp;</td>
      <%if timeinterval.departure !=nil%>
      <td><%= timeinterval.departure.strftime("%H:%M:%S")%>&nbsp;&nbsp;</td>
      <%end%>
      <%if timeinterval.departure !=nil && timeinterval.arrival !=nil %>
      <td><%= timeinterval.departure - timeinterval.arrival%>&nbsp;&nbsp;</td>
      <%end%>
      
      
     </tr>
  <% end %> 
</table>
    </div>




