<h1>Profile#offer</h1>
<%= form_for :profile , url: profile_new_path do |f| %>
    <p>
      <%= f.label :type%>
      <%= select_tag(:type,options_for_select(['vacation', 'compensatory holiday'])) %>

    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>